// {
//   "presets": ["@babel/preset-env", "@babel/preset-react"],
//   "plugins": [
//     ["@babel/plugin-proposal-decorators", { "legacy": true }],
//     ["@babel/plugin-proposal-class-properties", { "loose": true }]
//   ]
// }


// {
//   "plugins": [
//     [
//       "@babel/plugin-proposal-decorators",
//       {
//         "legacy": true
//       }
//     ],
//     // decorators-legacy',
//   ]
// }


// {
//   "presets": [
//     "@babel/preset-env",
//     "@babel/preset-react"
//   ],
//   "plugins": [
//     ["@babel/plugin-proposal-decorators", { "legacy": true }],
//     ["@babel/plugin-proposal-class-properties", { "loose": true }]
//   ]
// }


// "plugins": [
//   "react-hot-loader/babel",
//   "transform-decorators-legacy",
//   "transform-class-properties"
// ]

// {
//   "presets": ["@babel/preset-env"],
//   "plugins": [
//       ["@babel/plugin-proposal-decorators", { "legacy": true }],
//       ["@babel/plugin-proposal-class-properties", { "loose": true }]
//   ]
// }

// {
//   "presets": [["@babel/preset-env", { "targets": { "ie": "11" } }]],
//   "plugins": [
//       ["@babel/plugin-proposal-decorators", { "legacy": true}],
//       ["@babel/plugin-proposal-class-properties", { "loose": true}],
//       "@babel/plugin-transform-react-jsx"
//   ]
// }

// {
//   "plugins": [
//     ["@babel/plugin-proposal-decorators", { "version": "2023-05" }]
//   ]
// }


// {
//   "presets": ["es2015", "stage-1", "react"],
//   "plugins": ["transform-decorators-legacy", "transform-class-properties", "transform-runtime"],
// }
